body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #81e7af;
}
/* Home Page */

.nav-bar {
  background-color: #1f4529;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  height: 80px;
}

.nav-bar h1 {
  color: #fffed3;
  font-size: 52px;
  padding-left: 15px;
  font-weight: bolder;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  padding-right: 15px;
}

.nav-bar li {
  margin-right: 15px;
}

.nav-bar a {
  color: #fffed3;
  font-weight: bolder;
  text-decoration: none;
  font-size: 42px;
  padding-right: 15px;
}

.nav-bar a:hover {
  text-decoration: underline;
}

.main-page {
  background-color: #81e7af;
  overflow: hidden;
  padding: 80px;
}

.main-page .main-image {
  float: left;
  width: 50%;
}

.main-image img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease;
}

.main-image img:hover {
  transform: scale(1.05);
}

.main-container {
  float: left;
  width: 40%;
  padding-left: 130px;
}

.main-container h2 {
  color: #fffed3;
  text-decoration: underline;
  font-size: 3em;
  margin-bottom: 25px;
}

.main-container p {
  color: #47663b;
  font-size: 1.5em;
  font-weight: bolder;
  margin-bottom: 25px;
  text-align: justify;
}

.main-container button {
  color: #fffed3;
  background-color: #158e4c;
  font-size: 1.5em;
  padding: 15px;
  border: none;
  border-radius: 16px;
  margin-top: auto;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.main-container button:hover {
  transform: scale(1.05);
}

.recipe-container {
  padding: 80px;
  background-color: #81e7af;
  overflow: hidden;
}

.recipe-container h2 {
  color: #fffed3;
  font-size: 3em;
  text-decoration: underline;
  text-align: center;
  padding-bottom: 50px;
}

.recipe-container .recipe-card {
  background-color: #fffed3;
  float: left;
  width: 30%;
  margin: 1.5%;
  padding: 80px;
  border-radius: 16px;
  box-sizing: border-box;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: transform 0.5s ease;
}

.recipe-card:hover {
  transform: scale(1.05);
}

.recipe-card img {
  width: 100%;
  height: 600px;
  border-radius: 16px;
  object-fit: cover;
  margin-bottom: 15px;
}

.recipe-card h3 {
  color: #47663b;
  font-size: 2em;
  margin-bottom: 15px;
}

.recipe-card a {
  color: #47663b;
  font-size: 1.5em;
  text-decoration: none;
  padding-top: auto;
}

.feedback-container {
  background-color: #81e7af;
  padding: 60px 40px;
  text-align: center;
}

.feedback-container h4 {
  color: #fffed3;
  font-size: 2em;
  text-decoration: underline;
  padding-bottom: 10px;
}

.feedback-container .feedback-card {
  background-color: #158e4c;
  padding: 15px;
  margin: 25px auto;
  max-width: 800px;
  border-radius: 16px;
}

.feedback-card p {
  color: #fffed3;
  font-size: 1.2em;
  font-weight: bolder;
  padding: 15px;
}

footer {
  background-color: #1f4529;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  height: 90px;
}

footer h1 {
  color: #fffed3;
  font-size: 52px;
  font-weight: bolder;
  margin: 0;
}

footer p {
  color: #fffed3;
  font-size: 32px;
  font-weight: bolder;
  margin: 0;
}

footer a {
  text-decoration: none;
  color: #fffed3;
  margin: 0 15px;
  transition: color 0.5s ease;
}

footer a:hover {
  color: #d3d326;
}

/* About Page */

.about-me-container {
  padding: 80px;
  background-color: #81e7af;
  overflow: hidden;
}

.about-me-container .about-me-image {
  float: left;
  width: 45%;
}

.about-me-image img {
  width: 100%;
  margin-top: 50px;
  height: 1200px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.7);
  transition: transform 0.5s ease;
}

.about-me-image img:hover {
  transform: scale(1.05);
}

.about-me-container .about-me-card {
  float: left;
  width: 45%;
  margin-left: 260px;
  max-width: 30%;
}

.about-me-card a {
  font-size: 1.8em;
  text-decoration: none;
  color: #fffed3;
}

.about-me-card span {
  font-size: 1.3em;
  margin-left: 12px;
  color: #fffed3;
}

.about-me-card h3,
h2 {
  font-size: 2.5em;
  color: #1a1a1a;
  margin-bottom: 12px;
}

.about-me-card p {
  font-size: 1.5em;
  font-weight: bold;
  color: #1a1010;
  text-align: justify;
}

.social-container {
  display: flex;
  justify-content: center;
  padding: 50px;
  margin: auto;
  background-color: #fffed3;
}

.social-container .social-row {
  display: flex;
  gap: 50px;
}

.social-row span {
  font-size: 2em;
  font-weight: bolder;
  color: #382b2b;
}

.social-container .social-icons {
  display: flex;
  align-items: center;
  gap: 50px;
}

.social-icons a {
  font-size: 2.2em;
  font-weight: bolder;
  color: #1a1010;
  transition: transform 0.5s ease;
}

.social-icons a:hover {
  transform: scale(1.3);
}

.story-container {
  padding: 50px 80px;
  background-color: #81e7af;
  overflow: hidden;
}

.story-container h2 {
  font-size: 2.5em;
  color: #fffed3;
  font-weight: bolder;
}

.story-container .story-card {
  float: left;
  width: 45%;
}

.story-card p {
  font-size: 1.8em;
  color: #1a1010;
  text-align: justify;
}
.story-container .story-image {
  float: left;
  width: 45%;
  margin-left: 260px;
}

.story-image img {
  width: 100%;
  height: 1000px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.8);
  transition: transform 0.5s ease;
}

.story-image img:hover {
  transform: scale(1.05);
}

/* Recipes Page */

.recipes-page-container {
  background-color: #81e7af;
  padding: 40px 60px;
  text-align: center;
  overflow: hidden;
}

.recipes-page-container h2 {
  font-size: 3em;
  font-weight: bolder;
  color: #fff8dc;
  padding-bottom: 20px;
}
.recipes-page-container p {
  font-size: 1.9em;
  color: #382b2b;
  text-align: center;
  padding-bottom: 50px;
}

.recipes-page-container .image-card {
  float: left;
  width: 30%;
  margin: 1.5%;
  padding: 70px;
  box-sizing: border-box;
  background-color: #fffed3;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.8);
  transition: transform 0.5s ease;
}

.image-card:hover {
  transform: scale(1.03);
}

.image-card img {
  width: 100%;
  height: 600px;
  border-radius: 16px;
  object-fit: cover;
  margin-bottom: 15px;
}

.image-card h3 {
  font-size: 1.5em;
  color: #47663b;
  margin-bottom: 15px;
}

.image-card a {
  font-size: 1.3em;
  text-decoration: none;
  color: #47663b;
  margin-top: auto;
}

/* Contact Page */
.contact-container {
  padding: 80px;
  text-align: center;
  overflow: hidden;

}

.contact-header h2 {
  font-size: 3em;
  font-weight: bolder;
  text-decoration: underline;
  padding-bottom: 25px;
  color: #1a1010;
}

.contact-header p {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 25px;
  color: #1a1010;
}

.contact-info-container {
  float: left;
  width: 45%;
  margin:  45px 25px;
  padding-bottom: 25px;
  border-radius: 25px;
}

.contact-info-container .information {
  display: inline-block;
  width: 320px;
  margin: 40px;
  vertical-align: top;
  text-align: center;
}



.contact-info-container i {
  background-color: #fff8dc;
  padding: 25px;
  font-size: 2.5em;
  text-align: center;
  border-radius: 50%;
  color: #08cc3d;
}
.contact-info-container p {
  font-size: 1.35em;
  font-weight: bolder;
  color: #fff8dc;
}

.contact-info-container a {
  text-decoration: none;
  color: #fff8dc;
}

.contact-form {
  float: left;
  width: 50%;
  max-width: 40%;
  margin-left: 40px;
  padding-bottom: 25px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  background-color: #fff8dc;
}

.contact-form .comment-box {
  margin: 50px;
}

.contact-form input,
textarea {
  display: block;
  width: 40%;
  margin: 25px auto;
  padding: 20px;
  border-radius: 25px;
}

.contact-form input::placeholder,
textarea::placeholder {
  font-size: 1.5em;
  color: #08cc3d;
}

.contact-form input[type="submit"] {
  font-size: 1.5em;
  cursor: pointer;
  padding: 22px;
  width: 20%;
  color: #fff8dc;
  background-color: #158e4c;
}

.contact-container::after {
  content: "";
  display: table;
  clear: both;
}

.contact-footer {
  background-color: #1f4529;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  height: 90px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
